
<link rel="stylesheet" href="app.component.css">

<div class="bg-gray-100 font-sans">
  <div class="container mx-auto px-4 py-8">
      <div class="flex flex-col justify-center items-center my-16">
          <h1 class="text-5xl font-bold text-gray-800 leading-tight">Unidad Educativa Del Milenio Manuel J Calle</h1>
          <img style="padding-top: 30px;" src="https://static.wixstatic.com/media/ada09a_aaa9f6f4839c4db98ef3fa37c3228bcc~mv2.jpg/v1/fill/w_1899,h_939,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/ada09a_aaa9f6f4839c4db98ef3fa37c3228bcc~mv2.jpg" alt="UE">
          <p class="text-2xl text-gray-600 mt-4">Es el colegio con mayor prestigio y muy avanzada en educacion</p>
          <button class="bg-indigo-600 hover:bg-indigo-700 text-white text-xl mt-8 py-4 px-8 rounded-lg"><a href="#contact" id="redirectedbutton">Mas informacion contactanos</a></button>
      </div>
      <div>
        <div class="container">

        <h1 class="text-5xl font-bold text-gray-1000 leading-tight">Misión y Propocitos</h1>
        <ol>
            <li><strong>Desempeñoacademico:</strong> Nosotros alcanzar la excelencia en la enseñanza y el aprendizaje, ofreciendo un plan de estudios sólido que promueva la adquisición de conocimientos, habilidades.</li>
            <li><strong>Emprendimiento y Liderazgo:</strong> Abrazamos prácticas pedagógicas innovadoras que se adaptan a las necesidades individuales de nuestros estudiantes, fomentando la creatividad, el pensamiento crítico y la resolución de problemas.</li>
            <li><strong>Aprendizaje Basado en Proyectos:</strong>Implementar enfoques pedagógicos que involucren a los estudiantes en proyectos prácticos y significativos, donde puedan aplicar los conocimientos adquiridos en contextos reales y desarrollar habilidades de colaboración, comunicación y resolución de problemas.</li>
            <li><strong>Colaboración Global::</strong>Fomentar la colaboración y el intercambio cultural a nivel global, a través de asociaciones con escuelas y organizaciones internacionales, programas de intercambio estudiantil y actividades que promuevan el entendimiento intercultural.</li>
        </ol>

        <p><strong>Nosotros nos comprometemos:</strong> A educar a los estudiantes para que se conviertan en ciudadanos comprometidos, conscientes y capacitados, capaces de contribuir positivamente a la sociedad y enfrentar los desafíos globales con empatía y resiliencia.</p>
        </div>
        
        <div class="container">

        <h1 class="text-5xl font-bold text-gray-1000 leading-tight">Incripciones:Requisitos</h1>
        <ol>
            <li><strong>Documentos de identificación:</strong> Es posible que se requiera presentar documentos de identificación, como el certificado de nacimiento o la tarjeta de identificación del estudiante. </li>
            <li><strong>Formulario de inscripción:</strong>Por lo general, se debe completar un formulario de inscripción proporcionado por la escuela. Este formulario puede incluir información personal del estudiante y de los padres o tutores.</li>
            <li><strong>Pruebas de admisión:</strong>En algunas escuelas, especialmente en niveles educativos superiores, puede ser necesario realizar pruebas de admisión para evaluar el nivel académico del estudiante.</li>
            <li><strong>Certificados de estudios anteriores:</strong>Es posible que se solicite la presentación de certificados o boletines de calificaciones de estudios anteriores, especialmente si el estudiante está transfiriéndose de otra escuela.</li>
            <li><strong>Comprobante de domicilio:</strong>Algunas escuelas pueden requerir un comprobante de domicilio, como una factura de servicios públicos, para verificar la residencia del estudiante en el área de la escuela. </li>
            <li><strong>Vacunas y registros de salud:</strong>En muchos unidades educativas, se requiere que los estudiantes estén al día con las vacunas y presenten registros de salud actualizados al momento de la inscripción.

            </li>
        </ol>

        <p><strong>El Comproniso de Nosotros</strong> Es de educar a sus hijos de manera responsable y educarlos para sus futuros.</p>
        </div>
        <div class="container">
          <div id="contact">
            <h1 class="text-5xl font-bold text-gray-1000 leading-tight">Contactanos al siguiente numero</h1>
            <p><strong>Teléfonos:(07) 420-5487 </strong></p>
            <P><STROng>Direccion:4262+HQV, Ave Heroes de Verdeloma, Cuenca</STROng></P>
            <div style="display: flex; justify-content: center;">
            <img style="width: 500px; height: 350px;" src="https://static.wixstatic.com/media/ada09a_e4374067a0f84e70a4e21febd0041672~mv2.jpg/v1/fill/w_1473,h_485,al_c,q_85,enc_auto/ada09a_e4374067a0f84e70a4e21febd0041672~mv2.jpg" alt="UE2">
            </div>
          </div>
        </div>
      </div>
  </div>
</div>